.root {
  border-radius: var(--size-sm);
  padding: var(--size-lg);
  color: var(--text-primary);

  [data-mantine-color-scheme="dark"] & {
    color: var(--mantine-color-text);
  }
}

.title {
  transition: color 0.3s ease-in-out;
}

.root:is(:hover, :focus-visible) .title {
  color: var(--accent);
}
