.root {
  display: flex;
  align-items: center;
  padding-right: var(--size-xs);

  @include md-block {
    padding: var(--size-sm) var(--size-md);
    padding-block: 0;
  }
}

.logo {
  display: block;
  height: 44px;

  svg {
    width: inherit;
    height: inherit;
  }

  @include md-block {
    margin-right: 80px;
  }
}
